<!-- change_password.html -->

{% extends "layout.html" %}

{% block body %}
  <h2>Parola Değiştirme</h2>
  <form method="POST" action="{{ url_for('change_password') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="new_password">Yeni Parola:</label>
      {{ form.new_password() }}
    </div>
    <div class="form-group">
      <label for="confirm">Yeni Parola Doğrula:</label>
      {{ form.confirm() }}
    </div>
    <button type="submit">Değiştir</button>
  </form>
{% endblock %}
