<!-- change_email.html -->

{% extends "layout.html" %}

{% block body %}
  <h2>E-Posta Değiştirme</h2>
  <form method="POST" action="{{ url_for('change_email') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="current_email">Mevcut E-Posta:</label>
      {{ form.current_email() }}
    </div>
    <div class="form-group">
      <label for="new_email">Yeni E-Posta:</label>
      {{ form.new_email() }}
    </div>
    <button type="submit">Değiştir</button>
  </form>
{% endblock %}

